

<ion-content class="ion-padding">
  <ion-list lines="nones">
    <ion-list-header> Your next meetings</ion-list-header>
    <ion-item >Meet the Technical Director</ion-item>
    <ion-item >Meet the Product Owner</ion-item>
  </ion-list>

  <ion-ripple-effect></ion-ripple-effect>
  <p style="font-family: 'Gupter', serif; font-size: 18px;">
    Choose the meeting location
  </p>

  <ion-segment scrollable>
    <ion-segment-button>
      <ion-icon name="home"></ion-icon>
    </ion-segment-button>
    <ion-segment-button>
      <ion-icon name="star"></ion-icon>
    </ion-segment-button>
    <ion-segment-button>
      <ion-icon name="call"></ion-icon>
    </ion-segment-button>
  </ion-segment>
  <ion-button expand="block" (click)="dismissPopover()">Close</ion-button>

</ion-content>
