<ion-menu side="end" menuId="menu" contentId="first" type="overlay">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Notes Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item [routerLink]="['/home']" routerDirection="root">
        <ion-icon name="home" slot="start"></ion-icon>
        <ion-label>Group 1</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-label>Profile</ion-label>
      </ion-item>
      <ion-item [routerLink]="['/group2']" routerLinkActive="router-link-active">
        <ion-icon name="chatbubbles" slot="start"></ion-icon>
        <ion-label> Group 2 </ion-label>
      </ion-item>
      <ion-item [routerLink]="['/home']" routerLinkActive="router-link-active">
        <ion-icon name="settings" slot="start"></ion-icon>
        <ion-label>Settings/Notes</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>



<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="goBack()"></ion-back-button>
    </ion-buttons>

    <ion-title>Group1</ion-title>

    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-button class="menu-button"  expand="block" (click)="openMenu()">Open Menu to navigate easier</ion-button>
  <ion-button expand="block" [routerLink]="['/group2']" routerLinkActive="router-link-active" > Go to slides meeting </ion-button>

 </ion-content>

  <!--look it more carefully -->
  <ion-content>
    <ion-router-outlet id="first"></ion-router-outlet>
  </ion-content>
