<ion-header>
  <ion-toolbar>
    <ion-button slot="end" (click)="showNotificationsDetails()">
      <ion-icon name="notifications"> </ion-icon>
      <ion-badge id="cart-badge" color="danger">{{Notes.length}}</ion-badge>
    </ion-button>

    <ion-item lines="none">
      <ion-label style="font-size: 25px;">Main group</ion-label>
    </ion-item>
    <ion-item *ngIf="showNotifications" slot="end" lines="none">
      You have currently {{Notes.length}} notes available
    </ion-item>
  </ion-toolbar>
</ion-header>





<ion-content class="ion-padding">
  <ion-item>
    <ion-input placeholder="Enter new note" [(ngModel)]="newNote"> </ion-input>
    <ion-icon name="add" color="success" (click)="addNote()"></ion-icon>
  </ion-item>
  <div *ngFor="let note of Notes; let i=index;">
    <ion-chip color="primary">
      <ion-label>{{note.text}}</ion-label>
      <ion-label>
        <p>.. at {{ note.date | date: 'short'}} </p>
      </ion-label>

    </ion-chip>
    <ion-icon name="close-circle-outline" color="dark" (click)="delete(i)"></ion-icon>
    <ion-icon class="edit-icon" name="create" (click)=update(i)></ion-icon>

  </div>
</ion-content>


<ion-footer no-border>
  <ion-button *ngIf="showButton" class="primary-button"  (click)="dismiss()">
    Close
  </ion-button>

  <ion-button *ngIf="!showButton" class="primary-button" (click)="goGroup1()" > Go to group 1 </ion-button>
</ion-footer>

