<ion-header>
  <ion-toolbar>
    <ion-title>Group3</ion-title>
    <ion-button slot="end" class="ion-button" (click)="presentPopover($event)"> show popover</ion-button>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <ion-searchbar showCancelButton="never"></ion-searchbar>

    <ion-button expand="block" (click)="presentModal()"> Remember your available notes </ion-button>

  <ion-segment (ionChange)="segmentChanged($event)">
    <ion-segment-button value="friends">
      <ion-label>Friends</ion-label>
    </ion-segment-button>
    <ion-segment-button value="enemies">
      <ion-label>Enemies</ion-label>
    </ion-segment-button>
  </ion-segment>


</ion-content>

<!-- look at group 1 for ionic deep css-->
